body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 2.5em;
  color: #3c3754;
}

p {
  font-size: 1.2em;
  color: #555;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #abb095;
  font-size: 1em;
}

button:hover {
  background-color: #ccc;
}
